@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h2.heading_primary {
    font-size: 2.2rem;
    font-weight: lighter;
    font-variant: small-caps;
}

h5.heading_tertiary {
    font-weight: lighter;
    font-size: 1.2rem;
    font-variant: small-caps;
}