@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h2.heading_primary {
    font-size: $fontSizePrimaryHeading !important;
    font-weight: lighter;
    font-variant: small-caps;

    @media (max-width: 767.98px) {
        font-size: $fontSizePrimaryHeadingMobile !important;
    }
}

h5.heading_tertiary {
    font-weight: lighter;
    font-size: $fontSizeSecondaryHeading !important;
    font-variant: small-caps;

    @media (max-width: 767.98px) {
        font-size: $fontSizeSecondaryHeadingMobile !important;
    }
}