@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

.heading_primary {
    font-size: $fontSizePrimaryHeading;
    color: $colorPrimaryHeading;
}

.heading_secondary {
    font-size: $fontSizePrimaryHeading;
    color: $colorSecondaryHeading;
}

.heading_tertiary {}