$colorPrimary : #4CAF50;

$colorWhite : #ffffff;
$colorBlack : #000000;

$colorOffWhite : rgb(238, 238, 238);


$fontSizePrimaryHeading : 2rem;
$fontSizePrimaryHeadingMobile : 1.8rem;

$fontSizeSecondaryHeading : .9rem;
$fontSizeSecondaryHeadingMobile : .75rem;
$fontSizeSecondaryHeadingTablet : .8rem;

$fontSizeTertiaryHeading : .8rem;

$fontSizeParagraph : .7rem;
$fontSizeParagraphMobile : .55rem;
$fontSizeParagraphTablet : .6rem;

$borderBottom : 1px solid rgba($colorOffWhite, 0.7);