#blog {
    background: radial-gradient(rgb(229, 220, 220) 5%, transparent 10%) 0px 0px / 20px 20px, radial-gradient(rgba(220, 220, 220, 0.2) 0%, transparent 0%) 50px 50px rgba(220, 220, 220, 0.2);
    padding: 2rem .5rem;
}

.blog_slider {
    width: 90%;
    margin: 1rem auto;

    &_box {

        &--link {
            text-decoration: none;
            display: block;
            margin: .5rem .5rem;
            height: 100%;

            &-img {
                overflow: hidden;
                //outline: -3px solid red;
                position: relative;

                & img {
                    transition: all 0.3s ease-in-out;
                }
            }

            & .img-outline {
                height: 93%;
                width: 93%;
                outline: 2px solid rgba($colorWhite, 0.6);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                //box-shadow: 0 0 ;

            }

            h3 {
                padding: 0 .5rem;
                color: $colorSecondaryHeading;
                font-size: $fontSizeTertiaryHeading;
                margin: 0;

                // & span {
                //     border-right: 1px solid rgba($colorPrimary, 0.9);
                //     margin-right: 5px;
                // }
            }

            h2 {
                padding: 0.3rem .5rem;
                color: $colorPrimaryHeading;
                font-size: $fontSizeSecondaryHeading;
                margin: 0;
                text-align: justify;
                line-height: $linehightNormal;
            }

            p {
                color: $colorTertiaryText;
                font-size: $fontSizeExcrept;
                text-align: justify;
                padding: 0 .5rem;
            }
        }
    }

    &_box:hover &_box--link-img img {
        transform: scale(1.02);
    }

}

.slider_box--link-img {
    overflow: hidden;
    //outline: -3px solid red;
    position: relative;

    & img {
        transition: all 0.3s ease-in-out;
    }
}

.img-outline {
    height: 93%;
    width: 93%;
    outline: 2px solid rgba($colorWhite, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //box-shadow: 0 0 ;

}