#hero_container {
    .hero {
        width: 100% !important;

        &_slider {
            padding: 0;
            position: relative;
            //width: 90%;
            margin: 0 auto;

            & img {
                display: block;
                width: 100%;
            }

            & a:link,
            & a:visited,
            & a:active {
                z-index: 100;
                text-decoration: none;
                color: $colorWhite;
                //width: 97%;
                //height: 35%;
                //position: absolute;
                //bottom: 0;
                //left: 50%;
                //transform: translate(-50%, -7%);
                display: block;
                background-color: rgba($colorBlack , 0.9);
                padding: 2rem;
                font-size: 1.3rem;
                text-align: center;

                &:hover {}
            }

            & .slider_border {
                z-index: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                height: 95%;
                width: 95%;
                outline: 3px solid rgba($colorWhite, 0.9);
                transform: translate(-50%, -50%);
            }
        }
    }
}