#hero_container {
    .hero {
        width: 100% !important;

        &_slider {
            padding: 0;
            position: relative;
            //width: 90%;
            margin: 0 auto;

            & img {
                display: block;
                width: 100%;
                z-index: -10;
            }

            & a:link,
            & a:visited,
            & a:active {
                text-decoration: none;
                color: $colorWhite;
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba($colorBlack , 0.9);
                font-size: 1.5rem;
                padding: 1rem 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $colorWhite;
                text-decoration: underline;
                transition: all .4s ease-in-out;

                &:hover {
                    transform: scale(1.03);
                }
            }

            & .slider_border {
                z-index: 20;
                position: absolute;
                top: 50%;
                left: 50%;
                height: 95%;
                width: 95%;
                outline: 3px solid rgba($colorWhite, 0.9);
                transform: translate(-50%, -50%);
                //display: flex;
                //flex-direction: column;
                //justify-content: flex-end;

            }
        }
    }
}