#all_categories {
    display: block;
    text-align: center;

    & li.categories {
        list-style: none;

        &::target-text {
            font-size: $fontSizePrimaryHeading;
            color: $colorPrimaryHeading;
        }

        & ul {

            & li.cat-item {
                list-style: none;
                display: inline-block;

                & a {
                    text-decoration: none;
                    color: rgba($colorBlack, 0.9);
                    display: block;
                    border: 1px solid rgba($colorPrimary, 0.9);
                    padding: .2rem .5rem;
                    border-radius: .5rem;
                    font-size: .8rem;
                    margin: .1rem .1rem;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                        color: rgba($colorPrimary, 0.9);
                    }
                }
            }
        }
    }
}