.slick-slider {


    & button.slick-arrow {
        //height: 100%;
        width: 2rem;
        //animation-name: scaleUpDown;
        //animation-duration: 3s;
    }

    & button.slick-prev {
        left: -3rem;
        z-index: 100 !important;

        &::before {
            //height: 100%;
            font-size: 2rem;
            color: rgba(gray, 0.4);
        }

        // box-shadow: none;
        // background-image: url(https://images.yourstory.com/assets/icons/ic_brands_next_arrow.svg);
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: 40%;
        // right: -3.2rem;
    }

    & button.slick-next {
        right: -3rem;

        &::before {
            font-size: 2rem;
            color: rgba(gray, 0.4);
        }
    }
}