#footer {
    background: $colorFooterBackground;
    padding: 5rem 2rem;

    & h2.heading {
        color: rgba($colorWhite, 0.8);
        border-bottom: 1px solid rgba($colorWhite, .7);
        padding-bottom: .5rem;
    }

    & ul {
        text-decoration: none;
        list-style: none;
        padding: 0;

        & li a {
            color: rgba($colorWhite, .7);
        }
    }

    & .stay_connected ul li a {
        display: block;
        padding: .1rem .2rem;
        text-align: center;
        color: $colorPrimary;
        font-size: 2rem;
        font-weight: bold;
        float: left;
    }
}